<div class="p-5 text-left" style="background-color:transparent;border-radius:15rem;">
    <div class="container py-5" >
        <h1 class="text-body-emphasis"> <i class="fas fa-tags"></i> E_Shop Alışveriş Sitesi</h1>
        <p class="col-lg-8 mx-auto lead">
            
        </p>
    </div>
</div>
